/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Architects Daughter", "Book Antiqua", Palatino, FreeSerif, serif !default;

// $presentation-font-size-root: 30px;

// headings
$presentation-heading-font: CabinSketch, "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;

$body-bg: #ebefb4;

/*-- scss:rules --*/

